<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <!-- 环境配置 -->
    <environments default="development">
        <environment id="development">
            <!-- 事务管理器 -->
            <transactionManager type="JDBC"/>
            <!-- 数据源 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://192.168.2.102:3306/test?useUnicode=true&amp;characterEncoding=utf8&amp;useSSL=false&amp;serverTimezone=Asia/Shanghai"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    
    <!-- Mapper 文件扫描 -->
    <mappers>
        <!-- 方式1：指定 XML 文件路径（相对于 classpath） -->
        <mapper resource="day1/mapper/DemoMapper.xml"/>
        
        <!-- 方式2：扫描整个包（需要 XML 和 Mapper 接口在同一包结构下） -->
        <!-- <package name="work.N4mybatis.day1.mapper"/> -->
        
        <!-- 方式3：使用 Mapper 接口类 -->
        <!-- <mapper class="work.N4mybatis.day1.mapper.DemoMapper"/> -->
    </mappers>
    
</configuration>
