<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="work.N4mybatis.day1.mapper.DemoMapper">

    <select id="getAll" resultType="org.hulei.entity.mybatisplus.domain.DemoStockQuote">
        SELECT * FROM demo_stock_quotes
    </select>

</mapper>
